:root {
	--cor-queijo: #F2C94C;
	--cor-marrom: #6C3B2A;
	--cor-fundo-claro: #FFF9F1;
	--cor-verde: #9EAC71;
	--cor-texto: #2E2E2E;
	--cor-texto-suave: #6E665B;
}
body{
	background-color: var(--cor-fundo-claro);
	color: var(--cor-texto);
}
h1{
	color: var(--cor-texto-suave);
	margin-right: 35%;  
	background-color: var(--cor-verde);
}
@media screen and (max-width: 700px) {
	h1{
		margin-right: 0px;
		color: var(--cor-texto-suave);
		background-color: var(--cor-verde);
	}
}
.text_containter{
   margin-right: 35%;
	width: 90%;
	display: flex;
    flex-direction: column;
	padding-right: 4%;
}
#destaque{
	font-weight: bold;
}