<<<<<<< HEAD

:root {
	--cor-queijo: #F2C94C;
	--cor-marrom: #6C3B2A;
	--cor-fundo-claro: #FFF9F1;
	--cor-verde: #9EAC71;
	--cor-texto: #2E2E2E;
	--cor-texto-suave: #6E665B;
}

.catalogo{
	display: flex;
	flex-wrap: wrap;
	background-color: #9EAC71;
	justify-content: space-around;
	height: 750px;
	align-items: center;
}

.catalogo div{
	background-color: #f1f1f1;
	width: 350px;
	height: 400px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.catalogo div img{
	width: 230px;
	height: 150px;
	padding-top: 10px;
}

.catalogo div p{
	display: flex;
	align-items: center;
	justify-content: center;
}

.catalogo div button{
	background-color: #0f6122; /* Verde chamativo */
	color: white;
	border: none;
	padding: 14px 28px;
	font-size: 1.1rem;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}


/* Navbar */
.navigation-container {
  background-color: var(--cor-verde);
}
.navbar a {
  text-decoration: none;
  color: white;
}

.navbar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color: black;
}

/* Hero Section */
.hero-image-container {
  background-image: url("cheese_hero_section_image.jpg");
  margin-inline: auto;
  height: 80vh;
}
=======
:root {
	--cor-queijo: #F2C94C;
	--cor-marrom: #6C3B2A;
	--cor-fundo-claro: #FFF9F1;
	--cor-verde: #9EAC71;
	--cor-texto: #2E2E2E;
	--cor-texto-suave: #6E665B;
}

* {
  margin: 0 auto;
  box-sizing: border-box;
}


/* Navbar */
.navigation-container {
  background-color: var(--cor-verde);
}
.navbar a {
  text-decoration: none;
  color: white;
}

.mobile-nav {

}
.navbar {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  color: black;
}

/* Hero Section */
.hero-image-container {
  background-image: url("cheese_hero_section_image.jpg");
  margin-inline: auto;
  height: 80vh;
}
>>>>>>> e00a675 (Seçao inicial)
